@font-face {
    font-family: Montserrat Alternates;
    src: local('MontserratAlternates-Medium'), url(../../font/MontserratAlternates-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Inter;
    src: local('Inter-SemiBold'), url(../../font/Inter-SemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal
}

.action-bar{
    width: 100%;
    background: linear-gradient(269.42deg, #006EDD 0%, #004585 100%);
}

.menu-style{
    display: flex;
    height: 52px;
    justify-content: space-between;
}


.vector-container{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.logo-txt-container{
    height: 34px;
    width: 69px;
    left: 32px;
    margin-left: 15px;
}

.logo-txt{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    text-align: left;
    color: white;
}

.search-container{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search-txt{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    text-align: left;
    color: white;
}

.img-search-container{
    margin-left: 10px;
}

.how-to-use-container{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.how-to-use-txt{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
    color: white;
}

.how-to-use-img-container{
    margin-left: 15px;
}
