@font-face {
    font-family: Montserrat;
    src: local('Montserrat-Bold'), url(../../font/Montserrat-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Montserrat;
    src: local('Montserrat-SemiBold'), url(../../font/Montserrat-SemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: Inter;
    src: local('Inter-Medium'), url(../../font/Inter-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Inter;
    src: local('Inter-Bold'), url(../../font/Inter-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Inter;
    src: local('Inter-SemiBold'), url(../../font/Inter-SemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal
}

.txt-row-header-container{
    display: flex;
    flex-direction: column;
}

.txt-row-header{
    height: 58px;
    width: 420px;
    left: 205px;
    top: 89px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    text-align: left;
    color: #01509D;
}

.row-sizing-top{
    margin-top: 30px;
}

.image-container-welcome-page{
    height: 250px;
    width: 426px;
    left: 649px;
    top: 88px;
    border-radius: 10px;
    background: #000000B2;
}

.description-txt{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    text-align: left;
    color: #161616;
}