@font-face {
    font-family: Montserrat;
    src: local('Montserrat-Bold'), url(../../font/Montserrat-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Montserrat;
    src: local('Montserrat-SemiBold'), url(../../font/Montserrat-SemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: Inter;
    src: local('Inter-Medium'), url(../../font/Inter-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Inter;
    src: local('Inter-Bold'), url(../../font/Inter-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Inter;
    src: local('Inter-SemiBold'), url(../../font/Inter-SemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal
}

.main-welcome-page-container{
    width: 100%;
}

.first-element-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 50px;
}


.txt-header{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    text-align: left;
    color:  #01509D;
    display: flex;
}

.gif-container{
    height: 250px;
    width: 426px;
    left: 649px;
    top: 88px;
    border-radius: 10px;
    background: #000000B2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.description-txt{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    text-align: left;
    color: #161616;
}

.gif-txt{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    color: white;
}

.card-view-content{
    width: 100%;
    background: #F6FBFF;
    margin-top: 20px;
}

.second-row-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header-txt-second-row{
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    color: black;
}

.txt-container-second-row{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.btn-container{
    margin-top: 60px;
}

.card-container-second{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(200px, 1fr));
    grid-gap: 30px;
    justify-content: space-between;
    margin-top: 20px;
}

@media screen and (max-width: 1177px) {
   .card-container-second {
       grid-gap: 75px;
   }
}

@media screen and (max-width: 1081px) {
    .card-container-second {
        grid-gap: 185px;
    }
}



.more-cursors-btn-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.footer-container-welcome-page{
    margin-top: 50px;
    width: 100%;
}


.txt-description-second-row{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    color: #303030;

}